/*
 * 페이지 가로 폭
 * 1272px = 12*(82+24)
 *
 * 컬럼 수
 * 12개
 *
 * 유닛 가로 폭
 * 82px
 *
 * 거터 방향 [앞(before), 뒤(after), 양쪽(split), 안쪽(inside)]
 * 양쪽(split)
 *
 * 거터 가로 폭(양쪽 합)
 * 24px (12px)
 *
 *
 * container
 * row
 * col
 * gutter
 */

body {
    margin: 0;
}

/* 코드 재사용하기 위해 클래스 속성 사용 */
.container {
    /*박스의 크기 값을 border까지 확장한다.*/
    box-sizing: border-box;
    /* 고정 그리드 시스템 */
    width: 1272px;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 12px;
    padding-right: 12px;*/
}

.container.show-grid {
    /*베이스라인 10px*/
    /*
       12-82-12
       106 (82+24)
       12/106 = 11%
       82/106 = 77%
     */
    background:
        linear-gradient(180deg, transparent 94%, #aaa 94%),
        linear-gradient(90deg, transparent 11%, #ededed 11%, #ededed 88%, transparent 88%);
    background-size:
        10px 10px,
        106px 106px;
}

/*행 디자인 모듈*/
.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
}

/*컬럼 디자인 모듈*/
.col-1  { width: 82px;   }
.col-2  { width: 188px;  }
.col-3  { width: 294px;  }
.col-4  { width: 400px;  }
.col-5  { width: 506px;  }
.col-6  { width: 612px;  }
.col-7  { width: 718px;  }
.col-8  { width: 824px;  }
.col-9  { width: 930px;  }
.col-10 { width: 1036px; }
.col-11 { width: 1142px; }
.col-12 { width: 1248px; }
