/* 웹폰트 호출 */
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

/*브라우저의 기본 스타일 덮어쓴다. (Overriding)*/

/* 스타일 모듈 호출 */
/* 초기화, 노멀라이즈 */
/*@import "reset.css";*/

/* 그룹 선택자
하위(자손) 선택자 */
/*body,
body * {
    margin: 0;
}*/

/* 본문 디자인(설계) */
body {
    /*디자인한대로 줄간격 한칸만큼 공간을 사방에 설정*/
    /*고정 값 형태인 px이 아닌, 상대 값인 em, %, rem 등을 사용해야 한다.*/
    /*margin-top: 24px;*/
    /* Equal M: 16px * 1.5 = 24px */
    /*margin-top: 1.5em;*/
    /*margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;*/

    /*CSS 속성 속기형 작성법*/
    /*margin: top right bottom left;*/
    /*margin: 1.5em 1.5em 1.5em 1.5em;
    margin: 1.5em 1.5em 1.5em;
    margin: 1.5em 1.5em;*/
    margin: 3em 1.5em;

    /*본문에 웹폰트 사용*/
    font-family: 'Noto Sans KR', sans-serif;
    /*글자 크기*/
    font-size: 16px;
    /*행간*/
    line-height: 1.5;
}

/* 리딩 간격에 대한 가이드 */
/*body:hover {*/
body {
    /* 배경이미지 (베이스라인, 줄 간격 기준 leading 패턴) 설정 */
    /*background-image: url("../images/leading-24px.gif");*/
}

/* 단락 디자인(설계) */
p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* 제목 디자인(설계)
 * h1 - 6
 *
 * Type Scale : 1.250
 *
 * h5 = 16px * 1.250    = 20px    = 20/16    = 1.25em
 * h4 = 20px * 1.250    = 25px    = 25/16    = 1.56em
 * h3 = 25px * 1.250    = 31.25px = 31.25/16 = 1.95em
 * h2 = 31.25px * 1.250 = 39.06px = 39.06/16 = 2.44em
 * h1 = 39.06px * 1.250 = 48.83px = 48.83/16 = 3.05em
 */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    /* margin-bottom: 1.5em; */
    /* html 요소의 글자 크기에 상대적 크기 설정 */
    margin-bottom: 1.5rem;
}
h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}
h5 {
    font-size: 1.25rem;
    /* ceil(1.25/1.5) * (1.5/1.25) */
    line-height: 1.2;
}
h4 {
    font-size: 1.56rem;
    line-height: 1.92;
}
h3 {
    font-size: 1.95rem;
    line-height: 1.54;
}
h2 {
    font-size: 2.44rem;
    line-height: 1.83;
}
h1 {
    font-size: 3.05rem;
    line-height: 1.48;
}

/*UI 관점에서 사용자에게 도움말(축약어)임을 알려줘야 한다.*/
abbr[title] {
    cursor: help;
}

/* 이미지 하단에 발생하는 공간 제거 */
img {
    vertical-align: middle;
}

/*
 * --------------------------------
 * a 요소의 상태 디자인
 * --------------------------------
 * 기본 상태 :link
 * 방문 상태 :visited
 * 마우스 올라간 상태 :hover
 * 마우스로 꾹 누른 상태 :active
 * 키보드 포커싱 상태 :focus
 * 비활성화 상태 // ?????
 */

ul {
    margin-bottom: 1.5rem;
}

li {
    /*display: inline-block;*/
}

a {
    display: block;
}

a:link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #21c8f8;
    text-decoration: none;
    /*margin-bottom: -1px;*/
    /*border-bottom: 1px solid orange;*/
    /*transition: all 0.2s ease-out;*/
}
a:visited {
    color: #433FF6;
    /*border-bottom: 1px solid orange;*/
}
a:hover {
    color: #20D9A3;
    outline: 0.25rem solid;
    /*border: 0.25rem solid;*/
    /*margin: -0.25rem;*/
    /*border: 4px solid;*/
}
a:active {
    background: rgba(255,255,0,0.24);
}
a:focus {
    outline: 0.25rem solid;
}