/* 웹 폰트 Noto Sans KR */
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

/*CSS 작성 문법*/
/*
    스타일 선언 구문
    속성: 값;
    key: value;
 */

::selection {
    background-color: rgba(0,0,0,0.45);
    color: #fff;
}

::-moz-selection {
    background-color: rgba(0,0,0,0.45);
    color: #fff;
}

/* body 스타일 */
body {
    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    /*높이 설정*/
    height: 100vh;
    /*배경색 설정*/
    background-color: #3d4c3a;
    /*배경 이미지 설정*/
    background-image: url("../images/bg.jpg");
    /*배경 이미지 반복 여부 설정*/
    background-repeat: no-repeat;
    /*배경 이미지 위치 설정*/
    background-position: center top;
    /*배경 이미지 크기 조정*/
    background-size: cover;
    /*글꼴 설정*/
    font-family: 'Noto Sans KR', sans-serif;
}

/* CJ Olive Networks 브랜드 텍스트 */
.brand {
    width: 840px;
    color: #fff;
    letter-spacing: 0.4em;
    font-size: 44px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.89);
    transform: rotate(-42deg);
    transition: all .3s ease;
}

.brand:hover {
    letter-spacing: -0.01em;
    transform: scale(1.4) rotate(0deg);
    text-shadow: 0px 40px 20px rgba(0,0,0,0.64);
}